@import '@/styles/variables.scss';

.header {
    @include flexbox;
    max-width: $maxBodyWidth;
    margin: 0 auto;
    padding: 24px 24px 0;

    &-wrapper {
        @include flexbox(column);
        margin: 0 auto;
    }
}