@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    color: $textColor;
    box-sizing: border-box;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: $background;
}

a {
    text-decoration: none;
    font-weight: 600;
}

ul {
    list-style: none;
}

#app {
    min-height: 100vh;
    @include flexbox(column, flex-start, flex-start);
}

.fade-enter-active {
  transition: opacity 0.15s ease-in;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
